{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Synkroo" name="Theo" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>


<body>
    {% block content %}
    {% endblock %}

    <!-- IMPORT VUE JS -->
    <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
    <!-- IMPORT VUE AXIOS  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

{% block javascript %}
{% endblock %}

 </html>